# ----- Linting, Formatting
black
isort
ruff

# ----- Testing
pytest
coverage
tox

# ----- Packaging
wheel
bump2version
setuptools
twine

# ----- Docs
sphinx
sphinx-autobuild
furo
myst-parser

watchdog
