# ----- Linting, Formatting
black
isort
ruff

# ----- Testing
pytest
coverage
tox

# ----- Packaging
wheel
bump2version
setuptools
twine

# ----- Docs
sphinx
sphinx-rtd-theme
sphinx-autobuild
furo
watchdog
recommonmark
myst-parser
